@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    line-height: 4.5rem;
    font-weight: 700;
    @apply text-3xl;
  }
  h2 {
    line-height: 2.5rem;
    font-weight: 700;
    @apply text-2xl;
  }
  h3 {
    line-height: 2rem;
    font-weight: 500;
    @apply text-xl;
  }

  :root {
    font-size: 16px;

    /*@media screen and (max-width: 768px) {
      font-size: 14px;
    } */
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-background1;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-accent;
    border-radius: 0.25rem;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-accent2;
  }

  code::-webkit-scrollbar {
    height: 6px;
  }
  code::-webkit-scrollbar-track {
    @apply bg-background3;
    border-radius: 0.25rem;
  }
}

@layer components {
  .article-body {
    @apply prose prose-slate prose-invert prose-purple prose-pre:border prose-pre:border-slate-500;

    @apply prose-h2:text-attention prose-a:text-attention prose-quoteless;

    @apply prose-code:bg-[#040109] prose-code:py-1 prose-code:rounded-md;
  }
}
