@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  @apply bg-background2;
}

body::-webkit-scrollbar-thumb {
  @apply bg-accent;
  border-radius: 0.25rem;
}

body::-webkit-scrollbar-thumb:hover {
  @apply bg-accent2;
}

textarea,
ul::-webkit-scrollbar {
  width: 6px;
}

textarea,
ul::-webkit-scrollbar-track {
  background-color: transparent;
}

textarea,
ul::-webkit-scrollbar-thumb {
  @apply bg-accent;
  border-radius: 0.25rem;
}

textarea,
ul::-webkit-scrollbar-thumb:hover {
  @apply bg-accent2;
}

h1 {
  line-height: 4.5rem;
  font-weight: 700;
  @apply text-3xl;
}
h2 {
  line-height: 2.5rem;
  font-weight: 700;
  @apply text-2xl;
}
h3 {
  line-height: 2rem;
  font-weight: 500;
  @apply text-xl;
}

code {
  @apply bg-background2;
  border-radius: 0.3rem;
  padding: 4px 5px 5px;
  white-space: nowrap;
}

pre code {
  white-space: inherit;
}

pre {
  @apply bg-background2;
  padding: 5px;
  border-radius: 0.3rem;
}
