@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #080313;
}

body::-webkit-scrollbar-thumb {
  background: #936dff;
  border-radius: 0.25rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #8459ff;
}

h1 {
  line-height: 4.5rem;
  font-weight: 700;
  font-size: 3rem;
}
h2 {
  line-height: 2.5rem;
  font-weight: 700;
  font-size: 1.75rem;
}
h3 {
  line-height: 2.25rem;
  font-weight: 500;
  font-size: 1.5rem;
}
